<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form method="POST" action="/user">
        <div>
            <input type="text" placeholder="userName" name="userName" />
        </div>
        <div>
            <input type="text" placeholder="email" name="email" />
        </div>
        <div>
            <input type="text" placeholder="password" name="password" />
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>